@charset "UTF-8";

@font-face{
    font-family: 'euphoric';
    src: url(../fonts/euphorigenic/euphorigenic.ttf) format('truetype'); 
}
@font-face {
    font-family: 'signature';
    src: url(../fonts/summer_pisces/Summer\ Pisces.ttf) format('truetype');
}
@font-face {
    font-family: 'text';
    src: url(../fonts/Josefin_Slab/JosefinSlab-VariableFont_wght.ttf) format('truetype');
}

body{
    margin: 0px;
    height: 2500px;
    background: linear-gradient(140deg,#ffefd4, #c08b30);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#top{
    margin: auto;
    max-width: 1000px;
    max-height: 40px;
    background: linear-gradient(90deg,#b11c4e, #7e1330);
    padding: 5px;
    box-shadow: 0px 0px 5px #6d29298e;
}

.icons{
    padding-left: 50px;
    width: 25px;
}

header{
    margin: auto;
    max-width: 1000px;
    min-width: 300px;
}

header h1{
    position: relative;
    font-family: 'euphoric';
    font-size: 420%;
    font-weight: normal;
    text-align: center;
    margin-top: 10px;
}

header h2{
    font-family: 'signature';
    font-size: 500%;
    font-weight: lighter;
    text-align: center;
    margin-top: -65px;
}
    
#background{
    color: transparent;
    top: 210px;
    position: absolute;
    max-width: 1000px;
    min-width: 300px;
    height: 2500px;
    background: linear-gradient(140deg,#b11c4e, #b11c4e,#380808);
    background-attachment: fixed;
    border-radius: 0px 0px 0px 0px;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    box-shadow: 0px 0px 5px #6d29298e;
}

main{
    margin: auto;
    position: relative;
    top: -15px;
    background: linear-gradient(210deg,#fff7e1, #faf3db);
    max-width: 920px;
    min-width: 300px;
    height: 95%;
    box-shadow: 0px 0px 15px #6d29296e;
}

nav{
    width: 100%;
    height: 80px;
    background: linear-gradient(#cfcbb596, #ddcc9c96);
}

nav ul{
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav li{
    font-family: 'euphoric';
    font-size: 2.1em;
    font-weight: normal;
    padding: 20px 20px 0px 20px;
    display: inline-block;
}

nav a{
    text-decoration: none;
    color: #000000;
}

nav a:hover{
    color: #b11c4e;
    transition: 0.3s;
}

@media (max-width: 600px){
    nav li{
        padding: 20px 10px 0px 10px;
    }
}

@media (max-width: 520px){
    nav{
        height: 220px;
    }
    nav li{
        display: block;
        padding: 10px 0px 0px 0px;
    }
}

.container{
    background: #cfcbb544;
    padding: 10px 0px 30px 0px;
    margin: 10px;
    border-radius: 10px 10px 10px 10px;
    overflow: auto;
}

.container h3{
    font-family: 'euphoric';
    font-weight: normal;
    margin: 0px;
    padding: 0px 15px;
    font-size: 3em;
}

@media (max-width: 340px){
    .container h3{
        font-size: 2.5em;
    }
}

.img-home{
    top: 50px;
    width: 190px;
    display: flex;
    float: right;
    margin: 10px 40px 5px 15px;
    border: #f2f2f2 solid 5px;
    box-shadow: 0px 0px 5px #a056567e;
}

.container p{
    font-family: 'text';
    text-indent: 30px;
    margin: 0px;
    padding: 0px 40px;
    font-size: 1.4em;
    text-align: justify;
}

/*-----slider-----*/

#portfolio{
    text-align: center;
    margin-left: -10px;
}

.project{
    margin: 10px 10px 0px 10px;
    width: 40%;
    display: inline-block;
}

.project img{
    width: 100%;
    margin: 0;
    opacity: 0.9;
    border: #f2f2f2 solid 5px;
    box-shadow: 0px 0px 5px #a056567e;
}

.project img:hover{
    box-shadow: 0px 0px 5px #a05656;
}

.overlay{
    position: fixed;
    background: rgba(71, 69, 69, 0.7);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    z-index: 3;
}

.overlay.open{
    
    display: grid;
    align-items: center;
    justify-content: center;
    
}

.overlay-inner{
    background: white;
    width: 95%;
    padding: 20px;
    position: relative;
    opacity: 1;
}

.close{
    position: absolute;
    top: -24px;
    right: -4px;
    background: none;
    outline: 0;
    font-size: 1.05em;
    color: white;
    border: 0;
    letter-spacing: 2px;
}

.close:hover{
    color: white;
    font-size: 1.3em;
    top: -26.5px;
    right: -5px;
    transition: 0.2s;
}

.project-image{
    margin-left: -50%;
}

/*-----slider-----*/

h4{
    font-family: 'text';
    margin: 0;
    font-size: 1.7em;
    padding-bottom: 20px;
    text-align: center;
}
address{
    font-family: 'text';
    font-size: 1.2em;
    text-align: center;
}

#addresses-box{
    text-align: center;
}

.address-btn{
    position: relative;
    display: inline-block;
    
    margin: 25px 10px 0px 10px;
    width: 210px;
    padding: 20px ;
    background: #f2f2f2;
    box-shadow: 0px 0px 5px #a056567e;
    
}
.address-btn:hover{
    box-shadow: 0px 0px 5px #a05656;
}