@charset "UTF-8";

@font-face{
    font-family: 'euphoric';
    src: url(../fonts/euphorigenic/euphorigenic.ttf) format('truetype'); 
}
@font-face {
    font-family: 'signature';
    src: url(../fonts/summer_pisces/Summer\ Pisces.ttf) format('truetype');
}
@font-face {
    font-family: 'text';
    src: url(../fonts/Josefin_Slab/JosefinSlab-VariableFont_wght.ttf) format('truetype');   
}

html{
    scroll-behavior: smooth;
}

body{
    margin: 0px;
    height: 100%;
    background: linear-gradient(140deg,#ffefd4, #d5982d);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#top{
    margin: auto;
    max-width: 1000px;
    max-height: 20px;
    background: linear-gradient(90deg,#b11c4e, #7e1330);
    padding: 5px;
    box-shadow: 0px 0px 5px #6d29298e;
}

.icons{
    padding-left: 50px;
    width: 25px;
}

header{
    margin: auto;
    max-width: 1000px;
    min-width: 300px;
}

header h1{
    position: relative;
    font-family: 'euphoric';
    font-size: 6em;
    font-weight: normal;
    text-align: center;
    margin: 10px 0px 64px 0px;
}

@media (max-width: 500px){
    header h1{
        font-size: 18vw;
    }
}

header h2{
    font-family: 'signature';
    font-size: 5em;
    font-weight: lighter;
    text-align: center;
    margin: -85px 0px 15px 0px;
}

@media (max-width: 500px){
    header h2{
        font-size: 16vw;
        margin: -76px 0px 15px 0px;
    }
}

#gradient-border{
    max-width: 1000px;
    min-width: 300px;
    background: linear-gradient(140deg,#b11c4e, #b11c4e,#380808);
    margin: auto;
    padding: 30px 0px 30px 0px;
    box-shadow: 0px 0px 5px #6d29298e;
}

main{
    margin: auto;
    position: relative;
    padding-bottom: 1px;
    background: linear-gradient(210deg,#fff7e1, #faf3db);
    max-width: 940px;
    min-width: 300px;
    box-shadow: 0px 0px 15px #6d29296e;
}

nav{
    position: sticky;
    top: 0px;
    z-index: 1;
    width: 100%;
    background: linear-gradient(#fbeaca, #fcefd7, #ffebc8);
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: white;
    box-shadow: 0px 0px 5px #6d29296e;
}

nav ul{
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav li{
    font-family: 'euphoric';
    font-size: 2.1em;
    font-weight: normal;
    
    padding: 10px 20px 10px 20px;
    display: inline-block;
    
}

nav a{
    text-decoration: none;
    color: black;
}

nav a:hover{
    color: #b11c4e;
    transition: 0.3s;
}

@media (max-width: 620px){
    nav li{
        padding: 10px 10px 10px 10px;
    }
}

@media (max-width: 535px){
    nav{
        position: relative;
        background: #fbeaca;
    }
    nav li{
        font-size: 1.8em;
        background: linear-gradient(90deg, #fbd5934e, #fbd5931b, #fbd5934e);
        display: block;
        padding: 2px 0px 2px 0px;
        margin: 3px;
        border-radius: 0px;
    }
}

.container{
    background: #cfcbb544;
    padding: 10px 0px 30px 0px;
    margin: 12px;
    border-radius: 10px 10px 10px 10px;
    overflow: auto;
    
}

.container h3{
    font-family: 'euphoric';
    font-weight: normal;
    margin: 0px;
    padding: 50px;
    font-size: 3em;
}

@media (max-width: 535px){
    .container h3{
        padding: 30px;
    }
}

@media (max-width: 340px){
    .container h3{
        font-size: 2.5em;
        padding: 20px;
    }
}

.container p{
    font-family: 'text';
    margin: 0px;
    padding: 10px 40px 0px 40px;
    font-size: 1.4em;
    text-align: justify;
}

@media (max-width: 535px){
    .container p{
        padding: 10px 20px 0px 20px;
    }
}

.img-home{
    top: 50px;
    width: 28%;
    display: flex;
    float: right;
    margin: 10px 40px 5px 15px;
    border: white solid 5px;
    box-shadow: 0px 0px 5px #a056567e;
}

@media (max-width: 710px){
    .img-home{
        width: 190px;
    }
}

@media (max-width: 535px){
    .img-home{
        display: block;
        float: none;
        margin: 20px auto;
        width: 60%;
    }
}

/*-----slider-----*/

#portfolio{
    text-align: center;
    margin-left: -10px;
}

.project{
    margin: 10px 10px 0px 10px;
    width: 40%;
    display: inline-block;
}

.project img{
    width: 100%;
    margin: 0;
    opacity: 0.9;
    border: white solid 5px;
    box-shadow: 0px 0px 5px #a056567e;
}

.project img:hover{
    box-shadow: 0px 0px 5px #a05656;
}

.overlay{
    position: fixed;
    background: rgba(71, 69, 69, 0.7);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    z-index: 3;
}

.overlay.open{
    
    display: grid;
    align-items: center;
    justify-content: center;
    
}

.overlay-inner{
    background: white;
    width: 88%;
    padding: 10px;
    position: relative;
    margin: auto;
    opacity: 1;
}

.close{
    position: absolute;
    top: -24px;
    right: -4px;
    background: none;
    outline: 0;
    font-size: 1.05em;
    color: white;
    border: 0;
    letter-spacing: 2px;
}

.close:hover{
    color: white;
    font-size: 1.3em;
    top: -26.5px;
    right: -5px;
    transition: 0.2s;
}

.project-image{
    margin-left: -50%;
}

/*-----slider-----*/

h4{
    font-family: 'text';
    margin: 0;
    font-size: 1.7em;
    padding-bottom: 20px;
    text-align: center;
}
address{
    font-family: 'text';
    font-size: 1.2em;
    text-align: center;
}

#addresses-box{
    text-align: center;
}

.address-btn{
    position: relative;
    display: inline-block;
    
    margin: 25px 10px 0px 10px;
    width: 210px;
    padding: 20px ;
    background: white;
    box-shadow: 0px 0px 5px #a056567e;
    
}
.address-btn:hover{
    box-shadow: 0px 0px 5px #a05656;
}

form{
    font-family: 'text';
    font-size: 1.4em;
    margin: auto;
    width: 85%;
    max-width: 32em;
}

form label,
form input,
form textarea,
form button{
    margin: auto;
    display: block;
    width: 90%;
}

form label{
    color: black;
    line-height: 1;
    margin-bottom: 10px;
}

form input,
form textarea{
    font: inherit;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid transparent;
    transition: border-color, box-shadow 0.4s;
}

textarea{
    min-height: 200px;
    resize: vertical;
}

form input:hover,
form input:focus,
form textarea:hover,
form textarea:focus{
    outline: none;
    
    box-shadow: 0px 0px 5px #a056567e;
}

form button{
    width: 150px;
    display: block;
    padding: 10px;
    font: inherit;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.4s;
}

form button:hover,
form button:focus{
    outline: none;
    background: #c08b30;
}

footer{
    margin: 50px auto 0px auto;
    position: relative;
    max-width: 1000px;
    background: linear-gradient(90deg,#7D1330, #390809);
    padding: 5px 0px;
    box-shadow: 0px 0px 5px #6d29298e;
}

footer p{
    margin: 0;
    color: burlywood;
    font-family: monospace;
    text-align: center;
}

footer a{
    text-decoration: none;
    color: burlywood;
    font-weight: bold;
}